* {
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100%;
  height: 100%;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #53B4ED;
  z-index: 100;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  color: #53B4ED;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
}

.container,
.container-list {
  padding-right: 30px;
  padding-left: 30px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

main.container,
main.container-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

main.container {
  margin-top: 120px;
}

main.container .card,
main.container-list .card {
  width: 100%;
  max-width: 80%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  transition: all 0.3s ease;
}

/* Card */
main.container .card:hover,
main.container-list .card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

main.container .card .card-title
main.container-list .card .card-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
  padding: 0;
  margin-top: 0;
}

.card-body {
  width: 100%;
  height: 100%;
}

/* Table like bootstrap */
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: collapse;
  text-align: center;
}

.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 20px;
}

.form-group {
  width: 100%;
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}   

.form-control {
  width: 100%;
  max-width: 99%;
  height: 40px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  outline: none;
  transition: all 0.3s ease;
}

.form-control:focus {
  border: 1px solid #53B4ED;
}

.form-group button {
  width: 100%;
  height: 40px;
  background-color: #53B4ED;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

span.badge {
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}

span.badge-success {
  background-color: #28A745;
}

span.badge-warning {
  background-color: #FFC107;
}

span.badge-danger {
  background-color: #DC3545;
}



@media screen and (max-width: 768px) {
  .navbar-brand {
    font-size: 1.2rem;
  }

  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}